<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="g2o_nonces" value="{'123456':'0123456789abcdef01234567'}" />
    <add key="g2o_storage" value="[
         {'Alias':'localdevstorage','ConnectionString':'UseDevelopmentStorage=true','Containers':['public','private','images']},
         {'Alias':'cdndatastore01','ConnectionString':'DefaultEndpointsProtocol=https;AccountName=cdndatastore01;AccountKey=RnRIIL45Yjn9RNRzniIrUQE4f8dig1Pbr1rCFIW1R8okT2CSSiWXL1r4RC6rq5rITrMW7dchH242BzX29bPvpQ==','Containers':['public', 'private1']},
         {'Alias':'cdndatastore02','ConnectionString':'DefaultEndpointsProtocol=https;AccountName=cdndatastore02;AccountKey=JeZiIVUM03Y+9+gsuPUU2E0qEfPagzh42Dll5gtNlY6+37Mb3n2BW1v0C62Xv1f3f8lJFi55Aa0EefH4NeVd7Q==','Containers':[]}
       ]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>